/* src/styles/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.content-wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 85%; /* 중앙 정렬 */
  max-width: 1200px;
  padding: 30px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  gap: 30px;
  height: 700px; /* 세로 길이 추가 조정 */
  margin-left: 260px;
  margin-right: 260px;
  width: calc(100% - 260px);
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  flex: 1;
}




