.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: black;
  color: gold;
  cursor: default; /* 네비게이션 바 전체는 클릭되지 않도록 설정 */
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer; /* 로고만 클릭 가능하도록 설정 */
}

.logo:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  cursor: pointer;
  font-size: 16px;
}

.nav-item:hover {
  text-decoration: underline;
}
