/* 전체 레이아웃과 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; /* 더 어두운 배경 */
  color: #f0c040; /* 황금색 텍스트 */
}
